<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semicon</title>
  </head>
  <body>
    <div class="container">
      <form action="/predict" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input
              class="custom-file-label"
              type="file"
              name="image"
              id="image"
              value="Select data..."
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick=>Upload image</button>
      </form>
    </div>
  </body>
</html>

